PORT=3001
UNIMED_API_BASE_URL=http://172.20.3.37:9595/ords/nl/unimed/
SIMFRETE_USER=
SIMFRETE_PASS=
ERP_PEDIDOS_URL=http://172.20.3.37:9595/nlwsaiservices/request/input_pe_pedidos
ERP_NL_TOKEN=
ERP_NL_APLICACAO=99
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_CONNECT_STRING="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=host)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=service_name)))"
ORACLE_CLIENT_LIB_DIR=/opt/oracle/instantclient_23_26
